<div id="form<%= @count.to_s %>"> <!-- Identify the from -->
	<div id="<%= "error"+ @count.to_s %>"><!-- set a div for this form's error messages, must be set so it can be found and replaced by ajax call -->
		<%= error_messages_for :asset %>
	</div>
	
	<% form_for @asset, :url => { :action => 'create', :format => 'js', :form => @count}, :html => { :multipart => true, :target => 'upload_frame'+@count.to_s, :name => @count} do |f| %><!-- create form, :form => @count {send the form count as a param}, :target => 'upload_frame'+@count.to_s {set the target to the correct iframe}, :name => @count {name the form}  -->

	  <p>
		<%= f.label "Choose the file:" %><br/>
		<div class="file">
			<%= f.file_field :uploaded_data, :id => "file"+ @count.to_s %><br /> <!-- give the file field an id -->
			
		</div>

	<% end %>
			
</div>
<iframe id='upload_frame<%= @count %>' name="upload_frame<%= @count %>" style="width:1px;height:1px;border:0px" src="about:blank"></iframe><!-- create iframe for the form, outside the form_div to avoid JS errors when the form_div is replaced -->