<h1>New asset</h1>
<div id="form_div">
	<%= render :partial => 'upload_form', :object => @count%> <!-- render the upload_form partial -->
</div>

<%= link_to_remote 'Another Upload?', :action => 'new' %><br /> <!-- Call the new action via ajax, which will insert another form at the bottom of the 'form_div', use JS to show link, as it won't work without JS -->

<%= link_to 'Back', assets_path %>

<script type="text/javascript">
	$(document).ready( function() {
		$('input:disabled').removeAttr("disabled"); //make sure the form isn't disabled
		addChange('#file<%= @uuid.to_s %>', '<%= @uuid.to_s %>'); //add the change event to the first form
	});
</script>